body{
   font-size: 12px;
   background-color:#f8f8f8;
}
table{
  border: 2;
}
table th {
    background-color: #90b4d6 ;
}
tbody tr td {
    background-color: #e0e9f0 ;
}
form{
  width:40%;
  background-color: white;
  padding-top: 30;
}
#name{
  margin-left: 62px;
}
#email{
  margin-left: 60px;
}
#center{
  margin-left: 21px;
}
#radio{
  margin-left: 24px;
}
#register{
  margin-left: 300px;
  background-color: green;
}